*{
    font-family:Arial, Helvetica, sans-serif;
}


body {
    font-size: 20px;
}

.header {
    width: 50%;
    margin:40px auto 0px;
    color: white;
    background: #ff9999;
    text-align:center;
    border: 1px solid gray;
    border-radius: 8px 8px 0px 0px;
}

.wrapper {
    width: 50%;
    margin: 0px auto;
    border: 1px solid gray;
}

.wrapper:after {
    content: "";
    display:block;
    clear: both;
}

.words {
    width: 29%;
    background:#dcdcdc;
    padding-top:10px;
    float: left;
}

#search {
    width: 50%;
}

.word {
    width: 69%;
    float:left;
    padding-left: 10px;
}

.word {
    border-bottom: 1px #ff9999;
}

.word h3 {
    color:#ff9999;
}
#word_list {
    font-size:15px;
    max-height: 400px;
    overflow-y: scroll;
    padding-left:10px;
}

li {
    list-style-type: none;
}

li.list {
    margin-top:5px;
    margin-bottom:5px;
}

li.list:hover {
    cursor:pointer;
    color:#ff9999;

}

.italic {
    font-style:italic;
}

#search {
    margin-left:10px;
    width: 60%;
    padding:5px;
    height:13px;
}

button:hover{
    cursor:pointer;
    background:white;
    color:#ff9999;
}

button {
    height: 22px;
    background: #ff9999;
    color: white;
    border: none;
    border-radius: 4px;
}


#definition {
    font-size:15px;
}

#related {
    font-size:15px;
}

.footer {
    font-size:10px;
    text-align: center;
}